:root {
    --c-primary: #ab47bc;
    --c-secondary: #fdd835;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    font-family: inherit;
}

body {
    padding: 0;
    margin: 0;
    text-rendering: optimizeLegibility;
    font-family: Inter, Arial, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
        Droid Sans, Helvetica Neue, sans-serif;
    background-color: #fdfdfd;
    overflow-y: scroll;
}

a {
    color: inherit;
    text-decoration: none;
}

pre,
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-weight: 600;
    line-height: 1.33;
}

h1,
.h1 {
    font-weight: 700;
    font-size: 2em;
}

h2,
.h2 {
    font-size: 1.66em;
}

h3,
.h3 {
    font-size: 1.5em;
}

h4,
.h4 {
    font-size: 1.33em;
}

h5,
.h5 {
    font-size: 1.25em;
}

h6,
.h6 {
    font-size: 1em;
}

b,
strong {
    font-weight: 600;
}

kbd,
code,
pre {
    font-family: 'Jetbrains Mono', Consolas, monospace;
}
