.hero {
  background-image: linear-gradient(to bottom, hsla(259, 59%, 59%, 0.05), hsla(259, 59%, 59%, 0) 80%);
}

.heroInner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 4rem 0 3rem;
}

.heroTitle {
  color: var(--c-primary);
  font-weight: 600;
  margin: 0 0 1rem 0;
}

.heroSummary {
  opacity: 0.6;
  margin: 1em 0;

  & > p {
    margin-top: 0;
  }
}

.heroBody {
  margin: 2rem 0;
}