@page "/-/auth/login/{handler?}"
@model Login

<h1>Login</h1>

@if (Model.ExternalErrorMessage != null)
{
    <p>@Model.ExternalErrorMessage</p>
}

<form asp-page-handler="ExternalLogin" method="post">
    <input asp-for="ReturnUrl" type="hidden">
    <button type="submit">Login</button>
</form>